<!DOCTYPE html>
<html>
	<head>
		<title>Ontology</title>
		<%= stylesheet_link_tag    "ontology/application" %>
		<%= javascript_include_tag "ontology/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrapper">
			<%= yield %>
		</div>
	</body>
</html>
